body{
    background-color: #313131 ;
    color: #f1f1f1;
}

/*---------------------------------------------/Formularios/---------------------------------------------*/

.container {
    padding: 2px 16px;
}

.formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #4FFF00;
}

input {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4FFF00;
    color: #525c66;
  }



form {
    margin-top: 50px;
    margin-bottom: 50px;

}

.form-check {
    position: relative;
  }

  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 10px;
  }

  .form-check-input[disabled] ~ .form-check-label,
  .form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
  }

  .form-check-label {
    margin-bottom: 0;
  }

  .titulo-formulario {
    text-align: center;
    margin-top: -30px;
  }

  .btn-form{
    border: 1px solid #4FFF00;
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1;
    background-color: #4CAF50;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.invalid-feedback {
    color: red;
    font-size: 15px;
}

/*---------------------------------------------/Página principal/---------------------------------------------*/

.titulo-inicio{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.imagen-inicio{
    width: 100%;
    border:1px solid #4FFF00;
}

.contenedorinicio-izq{
    width:39%;
    float:left;
    height: 150px;
    margin-left: 10%;
}
.contenedorinicio-der{
  width:39%;
  height: 150px;
  float:right;
  margin-right: 10%;

}
/*---------------------------------------------/Socios/---------------------------------------------*/
.card-grid-socio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-socio{
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

@media (max-width: 900px) {

    .formulario-login {
        margin-top:100px ;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 10%;
        margin-right: 10%;

    }





    .contenedorinicio-izq{
        width:90%;
        float: left;
        margin-right: 5%;
        margin-left: 5%;
        height: 100%;
    }
    .contenedorinicio-der{
        width:90%;
        float:left;
        margin-right: 5%;
        margin-left: 5%;

    }



}
