body {
    background-color: #313131;
    color: #f1f1f1;
}

main {
    min-height: 85vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*---------------------------------------------/Formularios Acceso/---------------------------------------------*/

.container {
    padding: 2px 16px;
}

.formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #4FFF00;
}

input, select{
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4FFF00;
    color: #525c66;
    display: block;
}

.form-check {
    position: relative;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 10px;
}

.form-check-input[disabled]~.form-check-label,
.form-check-input:disabled~.form-check-label {
    color: #6c757d;
}

.form-check-label {
    margin-bottom: 0;
}

.titulo-formulario {
    text-align: center;
    width: 100%;
}

.btn-form {
    border: 1px solid #4FFF00;
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1;
    background-color: #206622;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.invalid-feedback {
    color: red;
    font-size: 15px;
}

.botones-cuenta{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-logout {
    border: 1px solid #630202;
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1;
    background-color: red;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.ocultar{
    display: none;
}

/*---------------------------------------------/Formularios Administración/---------------------------------------------*/

.formulario-administracion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #4FFF00;
    margin-bottom: 50px;
}

.ficha-administracion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid #4FFF00;
    margin-bottom: 50px;
    text-align: center;
}

.contenedor-administracion {
    margin-top: 100px;
    width: 100%;
}

.enlace-administracion{
    margin-left: 50px;
}

label{
    display: block;
}

file{
    display: block;
}

.btn-form-administracion{
    color: #f1f1f1;
    background-color: #4CAF50;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.imagen-tabla{
    width: 50px;
    height:75px;
}

.imagen-ver{
    width: 100px;
    height:140px;
    margin-top: 10px;
}

/*---------------------------------------------/Vista general Administración/---------------------------------------------*/

.contenedor-tablas{
    margin-bottom: 50px;
    width: 100%;
    overflow: auto;

}

table {
    border-collapse: collapse;
    border: 2px #4FFF00 solid;
    text-align: center;
    background-color: #191919;
    margin: 0 auto;
}

th {
    border-collapse: collapse;
    border-bottom: 1px #4FFF00 solid;
}

td {
    border-collapse: collapse;
    border: 1px #f1f1f1 solid;
}

.btn-general-administracion-activo{
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100px ;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Nunito;
    cursor: pointer;
}

.btn-general-administracion-inactivo{
    background-color: #FF5733;
    border: none;
    color: white;
    width: 100px ;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Nunito;
    cursor: pointer;
}

.btn-general-administracion{
    background-color: #004b66;
    border: none;
    color: white;
    width: 100px ;
    height: 35px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: Nunito;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px ;
}

.btn-general-administracion-eliminar{
    background-color: #FF0000;
    border: none;
    color: white;
    width: 100px ;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Nunito;
    cursor: pointer;
    margin-bottom: 10px;
}

/*---------------------------------------------/Páginas principales/---------------------------------------------*/

.titulo-inicio {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.imagen-inicio {
    width: 100%;
    border: 1px solid #4FFF00;
}

.imagen-club {
    width: 70%;
    border: 1px solid #4FFF00;
    text-align: center;
}

.contenedorinicio-izq {
    width: 45%;
    padding: 1%;
}

.contenedorinicio-der {
    width: 45%;
}

.contenedorinicio-colum{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

/*---------------------------------------------/Socios/---------------------------------------------*/

.card-grid-socio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-socio {
    width: 170px;
    height: 250px;
    border: 1px solid #4FFF00;
    background-color: #191919;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 5px;
}

.img-socio {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #4FFF00;
}

.nombre-socio{
    margin-top: 5px;
    text-transform: uppercase;
}

/*---------------------------------------------/Galerías/---------------------------------------------*/

.contenedor-galeria{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.grid-gallery {
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
  }

  @media all and (min-width: 320px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media all and (min-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media all and (min-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
  }

  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
  }

  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }



  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #4FFF00;
  }


/*---------------------------------------------/Eventos/---------------------------------------------*/

.card-grid-evento {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card-evento {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #4FFF00;
    background-color: #191919;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 5px;
}

.evento-superior{
    height: 20px;
    width: 100%;
}

.evento-izq{
    width: 49%;
    padding: 2%;
    margin-top: 25px;
}

.evento-der{
    width: 49%;
    text-align: left;
    padding: 1%;
    margin-top: 35px;
}

.img-evento {
    width: 140px;
    height: 200px;
}

.nombre-evento{
    margin-top: 25px;
    width: 100%;
    font-size: 25px;
}

.dato-evento{
    margin-top: 0px;
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
}

.descripcion-evento{
    width: 100%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}


/*---------------------------------------------/Responsive Para evitar descuadres/---------------------------------------------*/

@media (max-width: 1400px) {

    .contenedorinicio-izq {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contenedorinicio-der {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    table {
        border-collapse: collapse;
        border: 2px #4FFF00 solid;
        background-color: #191919;
        margin: 0 auto;
    }

    .ficha-administracion {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 10%;
        margin-right: 10%;
        border: 2px solid #4FFF00;
        margin-bottom: 50px;
    }

}

/*---------------------------------------------/Responsive para movil/---------------------------------------------*/

@media (max-width: 900px) {

    .formulario-login {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 10%;
        margin-right: 10%;

    }

    .formulario-administracion {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 10%;
        margin-right: 10%;
    }

    .ficha-administracion {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 0%;
        margin-right: 0%;
        border: 2px solid #4FFF00;
        margin-bottom: 50px;
    }

}
