body {
    background-color: #313131;
    color: #f1f1f1;
}

main {
    min-height: 85vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------/Formularios Acceso/---------------------------------------------*/

.container {
    padding: 2px 16px;
}

.formulario-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #4FFF00;
}

input {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4FFF00;
    color: #525c66;
}



form {
    margin-top: 50px;
    margin-bottom: 50px;

}

.form-check {
    position: relative;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 10px;
}

.form-check-input[disabled]~.form-check-label,
.form-check-input:disabled~.form-check-label {
    color: #6c757d;
}

.form-check-label {
    margin-bottom: 0;
}

.titulo-formulario {
    text-align: center;
    margin-top: -30px;
}

.btn-form {
    border: 1px solid #4FFF00;
    display: inline-block;
    width: 200px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1;
    background-color: #4CAF50;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

}

.invalid-feedback {
    color: red;
    font-size: 15px;
}

/*---------------------------------------------/Formularios Administración/---------------------------------------------*/

.formulario-administracion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid #4FFF00;
}



/*---------------------------------------------/Página principal/---------------------------------------------*/

.titulo-inicio {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
}

.imagen-inicio {
    width: 100%;
    border: 1px solid #4FFF00;
}

.contenedorinicio-izq {
    width: 45%;
    padding: 1%;
}

.contenedorinicio-der {
    width: 45%;
}

/*---------------------------------------------/Socios/---------------------------------------------*/

.card-grid-socio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-socio {
    width: 170px;
    height: 250px;
    border: 1px solid #4FFF00;
    background-color: #191919;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 5px;
}

.img-socio {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #4FFF00;
}

.nombre-socio{
    margin-top: 5px;
    text-transform: uppercase;
}

/*---------------------------------------------/Responsive Para evitar descuadres/---------------------------------------------*/

@media (max-width: 1400px) {

    .contenedorinicio-izq {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contenedorinicio-der {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

}

/*---------------------------------------------/Responsive para movil/---------------------------------------------*/

@media (max-width: 900px) {

    .formulario-login {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        margin-left: 10%;
        margin-right: 10%;

    }

}
